/* File: angband.rc */

ANGBAND MENU
{
	POPUP "&File"
	{
		MENUITEM "&New", 100
		MENUITEM "&Open...", 101
		MENUITEM SEPARATOR
		MENUITEM "&Save", 110
		MENUITEM SEPARATOR
		MENUITEM "Show S&cores", 120
		MENUITEM "Show &Movies", 121
		MENUITEM SEPARATOR
		MENUITEM "E&xit", 130
	}

	POPUP "&Window"
	{
		POPUP "&Visibility"
		{
			MENUITEM "Term-0 window", 200
			MENUITEM "Term-1 window", 201
			MENUITEM "Term-2 window", 202
			MENUITEM "Term-3 window", 203
			MENUITEM "Term-4 window", 204
			MENUITEM "Term-5 window", 205
			MENUITEM "Term-6 window", 206
			MENUITEM "Term-7 window", 207
		}

		POPUP "&Font"
		{
			MENUITEM "Term-0 window", 210
			MENUITEM "Term-1 window", 211
			MENUITEM "Term-2 window", 212
			MENUITEM "Term-3 window", 213
			MENUITEM "Term-4 window", 214
			MENUITEM "Term-5 window", 215
			MENUITEM "Term-6 window", 216
			MENUITEM "Term-7 window", 217
		}

		POPUP "Keep on top"
		{
			MENUITEM "Term-1 window", 221
			MENUITEM "Term-2 window", 222
			MENUITEM "Term-3 window", 223
			MENUITEM "Term-4 window", 224
			MENUITEM "Term-5 window", 225
			MENUITEM "Term-6 window", 226
			MENUITEM "Term-7 window", 227
		}

		MENUITEM "&Always display subwindows", 280

		MENUITEM SEPARATOR

		POPUP "Increase Tile Width"
		{
			MENUITEM "Term-0 window", 240
			MENUITEM "Term-1 window", 241
			MENUITEM "Term-2 window", 242
			MENUITEM "Term-3 window", 243
			MENUITEM "Term-4 window", 244
			MENUITEM "Term-5 window", 245
			MENUITEM "Term-6 window", 246
			MENUITEM "Term-7 window", 247
		}

		POPUP "Decrease Tile Width"
		{
			MENUITEM "Term-0 window", 250
			MENUITEM "Term-1 window", 251
			MENUITEM "Term-2 window", 252
			MENUITEM "Term-3 window", 253
			MENUITEM "Term-4 window", 254
			MENUITEM "Term-5 window", 255
			MENUITEM "Term-6 window", 256
			MENUITEM "Term-7 window", 257
		}

		POPUP "Increase Tile Height"
		{
			MENUITEM "Term-0 window", 260
			MENUITEM "Term-1 window", 261
			MENUITEM "Term-2 window", 262
			MENUITEM "Term-3 window", 263
			MENUITEM "Term-4 window", 264
			MENUITEM "Term-5 window", 265
			MENUITEM "Term-6 window", 266
			MENUITEM "Term-7 window", 267
		}

		POPUP "Decrease Tile Height"
		{
			MENUITEM "Term-0 window", 270
			MENUITEM "Term-1 window", 271
			MENUITEM "Term-2 window", 272
			MENUITEM "Term-3 window", 273
			MENUITEM "Term-4 window", 274
			MENUITEM "Term-5 window", 275
			MENUITEM "Term-6 window", 276
			MENUITEM "Term-7 window", 277
		}
	}

	POPUP "&Options"
	{
		POPUP "&Graphics"
		{
			MENUITEM "&None", 400
			MENUITEM "&Old tiles", 401
			MENUITEM "&Adam Bolt's tiles", 402
			MENUITEM SEPARATOR
			MENUITEM "&Bigtile mode", 409
		}

		POPUP "&Background image"
		{
			MENUITEM "&None", 440
			MENUITEM "&Custom", 441
			MENUITEM "&Preset", 442
			MENUITEM SEPARATOR
			MENUITEM "Change custom image", 449
		}

		MENUITEM SEPARATOR
		MENUITEM "&Music", 420
		MENUITEM "&Pause music when inactive", 421
		MENUITEM "&Open music folder", 422
		MENUITEM SEPARATOR
		MENUITEM "&Sound", 410
		MENUITEM "&Open sound folder", 411
		MENUITEM SEPARATOR
		MENUITEM "&HTML dump", 450
	}
}

ANGBAND ICON "angband.ico"

ANGBAND BITMAP "wall.bmp"
