/* File: angband.rc */

ANGBAND MENU
{
	POPUP "ファイル(&F)"
	{
		MENUITEM "新規(&N)", 100
		MENUITEM "開く(&O)...", 101
		MENUITEM SEPARATOR
		MENUITEM "保存(&S)", 110
		MENUITEM SEPARATOR
		MENUITEM "スコア(&C)", 120
		MENUITEM "ムービー(&M)", 121
		MENUITEM SEPARATOR
		MENUITEM "終了(&X)", 130
	}

	POPUP "ウィンドウ(&W)"
	{
		POPUP "表示(&V)"
		{
			MENUITEM "メインウィンドウ", 200
			MENUITEM "サブウィンドウ 1", 201
			MENUITEM "サブウィンドウ 2", 202
			MENUITEM "サブウィンドウ 3", 203
			MENUITEM "サブウィンドウ 4", 204
			MENUITEM "サブウィンドウ 5", 205
			MENUITEM "サブウィンドウ 6", 206
			MENUITEM "サブウィンドウ 7", 207
		}

		POPUP "フォント(&F)"
		{
			MENUITEM "メインウィンドウ", 210
			MENUITEM "サブウィンドウ 1", 211
			MENUITEM "サブウィンドウ 2", 212
			MENUITEM "サブウィンドウ 3", 213
			MENUITEM "サブウィンドウ 4", 214
			MENUITEM "サブウィンドウ 5", 215
			MENUITEM "サブウィンドウ 6", 216
			MENUITEM "サブウィンドウ 7", 217
		}

		POPUP "前面に固定"
		{
			MENUITEM "サブウィンドウ 1", 221
			MENUITEM "サブウィンドウ 2", 222
			MENUITEM "サブウィンドウ 3", 223
			MENUITEM "サブウィンドウ 4", 224
			MENUITEM "サブウィンドウ 5", 225
			MENUITEM "サブウィンドウ 6", 226
			MENUITEM "サブウィンドウ 7", 227
		}

		MENUITEM "常にサブウィンドウを表示(&K)", 280

		MENUITEM SEPARATOR

		POPUP "タイルの幅を広げる"
		{
			MENUITEM "メインウィンドウ", 240
			MENUITEM "サブウィンドウ 1", 241
			MENUITEM "サブウィンドウ 2", 242
			MENUITEM "サブウィンドウ 3", 243
			MENUITEM "サブウィンドウ 4", 244
			MENUITEM "サブウィンドウ 5", 245
			MENUITEM "サブウィンドウ 6", 246
			MENUITEM "サブウィンドウ 7", 247
		}

		POPUP "タイルの幅を縮める"
		{
			MENUITEM "メインウィンドウ", 250
			MENUITEM "サブウィンドウ 1", 251
			MENUITEM "サブウィンドウ 2", 252
			MENUITEM "サブウィンドウ 3", 253
			MENUITEM "サブウィンドウ 4", 254
			MENUITEM "サブウィンドウ 5", 255
			MENUITEM "サブウィンドウ 6", 256
			MENUITEM "サブウィンドウ 7", 257
		}

		POPUP "タイルの高さを広げる"
		{
			MENUITEM "メインウィンドウ", 260
			MENUITEM "サブウィンドウ 1", 261
			MENUITEM "サブウィンドウ 2", 262
			MENUITEM "サブウィンドウ 3", 263
			MENUITEM "サブウィンドウ 4", 264
			MENUITEM "サブウィンドウ 5", 265
			MENUITEM "サブウィンドウ 6", 266
			MENUITEM "サブウィンドウ 7", 267
		}

		POPUP "タイルの高さを縮める"
		{
			MENUITEM "メインウィンドウ", 270
			MENUITEM "サブウィンドウ 1", 271
			MENUITEM "サブウィンドウ 2", 272
			MENUITEM "サブウィンドウ 3", 273
			MENUITEM "サブウィンドウ 4", 274
			MENUITEM "サブウィンドウ 5", 275
			MENUITEM "サブウィンドウ 6", 276
			MENUITEM "サブウィンドウ 7", 277
		}
	}

	POPUP "オプション(&O)"
	{
		POPUP "グラフィクス(&G)"
		{
			MENUITEM "なし(&N)", 400
			MENUITEM "旧タイル(&O)", 401
			MENUITEM "&Adam Boltさんタイル", 402
			MENUITEM "新タイル", 403
			MENUITEM SEPARATOR
			MENUITEM "タイルを2倍幅で表示", 409
		}
		POPUP "背景(&B)"
		{
			MENUITEM "なし(&N)", 440
			MENUITEM "壁紙を使う(&W)", 441
			MENUITEM "プリセット(&P)", 442
			MENUITEM SEPARATOR
			MENUITEM "壁紙を選択(&O)...", 449
		}
		MENUITEM SEPARATOR
		MENUITEM "BGM(&M)", 420
		POPUP "音量"
		{
			MENUITEM "100%", 460
			MENUITEM "90%", 461
			MENUITEM "80%", 462
			MENUITEM "70%", 463
			MENUITEM "60%", 464
			MENUITEM "50%", 465
			MENUITEM "40%", 466
			MENUITEM "30%", 467
			MENUITEM "20%", 468
			MENUITEM "10%", 469
		}
		MENUITEM "アクティブ時のみBGM再生(&M)", 421
		MENUITEM "BGM設定フォルダを開く(&O)", 422
		MENUITEM SEPARATOR
		MENUITEM "効果音(&S)", 410
		POPUP "音量"
		{
			MENUITEM "100%", 470
			MENUITEM "90%", 471
			MENUITEM "80%", 472
			MENUITEM "70%", 473
			MENUITEM "60%", 474
			MENUITEM "50%", 475
			MENUITEM "40%", 476
			MENUITEM "30%", 477
			MENUITEM "20%", 478
			MENUITEM "10%", 479
		}
		MENUITEM "効果音設定フォルダを開く(&P)", 411
		MENUITEM SEPARATOR
		MENUITEM "画面をHTMLで保存(&H)...", 450
	}
}

ANGBAND ICON "angband.ico"

ANGBAND BITMAP "wall.bmp"
